*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
background: #000;
}

:root{ --text-clr:#fff;
--pg-clr : linear-gradient(30deg,chocolate,white,chocolate);
--box-shadow: 0 0 3px ,
0 0  5px,
-2px 3px 10px chocolate;
}
.title-main{
    position: absolute;
    top: 20px;
    z-index: 10;
    color: transparent;
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px chocolate;
}

.content{
    position: relative;
   width: 40%;
    height: 500px;
    display: flex;
    justify-content: center;  
    align-items: center;
    top: 90px;
    left:10%;
box-shadow:0 0 10px chocolate,
inset 0 0 30px chocolate,
0 0 50px chocolate,
inset 0 0 80px chocolate;
 transform-style: preserve-3d;
 transform: perspective(2000px);

}

.container{
    position: absolute;
    min-width:100%;
    height: 100%;
    background: var(--pg-clr); 
    box-shadow: var(--box-shadow);
border-radius: 10px;
right: 40%;
transform-origin: right;
transform-style: preserve-3d;
transition: all 1s ease;
}
.asid_profil{
    position: absolute;
    min-width: 25%;
    height: 100%;
    right: 0px;
    box-shadow: var(--box-shadow);
text-align: center;
background: var(--pg-clr);
z-index: 20;
border-radius: 10px;

}
.asid_profil img{
    max-width: 100%;
    border-radius: 50%;
    position: relative;
right: 0px;
top: 150px;
}
.asid_profil .h1-titl{
    position: relative;
    top: 50px;
    right: 7px;
    font-size: 44px;
    transform-style: preserve-3d;
    transform: perspective(100px) rotatex(30deg);
}
.asid_profil .h1-titl span{
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 20px;
font-weight: 700;
}

.titl-sayfa{
    position: absolute;
    right: 50%;
    top: 10px;
  background: linear-gradient(45deg,chocolate,black);
  height: 70px;
  padding-top: 15px;
border-radius: 20px;
text-align: center;
color: var(--text-clr);
animation: color 2s linear infinite;
}@keyframes color{
    to{
  background: linear-gradient(45deg,black,chocolate);

    }
}
/* paper 1 */

.sayfa-1 ul{
    position: absolute;
    right: 35%;
    top: 150px;
}
.sayfa-1 ul li{
   margin-top: 20px;
    font-size: 30px;
}
#but1{
    position: absolute;
    right: 80%;
    font-size: 30px;
    background: transparent;
    border: 0;
    top: 90%;
}
/* paper 2 */
.sayfa-2 ul{
    position: absolute;
    right: 35%;
    top: 150px;
}
.sayfa-2 ul li{
   margin-top: 20px;
    font-size: 30px;
}
#but2{
    position: absolute;
    right: 80%;
    font-size: 30px;
    background: transparent;
    border: 0;
    top: 90%;
}
#but22{
    position: absolute;
    right: 80%;
    font-size: 30px;
    background: transparent;
    border: 0;
    top: 90%;
    right: 50%;
}

/* paper 3*/
.sayfa-3 ul{
    position: absolute;
    right: 35%;
    top: 150px;
}
.sayfa-3 ul li{
   margin-top: 20px;
    font-size: 30px;
}
#but3{
    position: absolute;
    right: 50%;
    font-size: 30px;
    background: transparent;
    border: 0;
    top: 90%;
}

/* number-sayfa */


.number-sayfa{
    position: absolute;
    font-size: 30px;
    top: 90%;
    right: 65%;
}
 ul li span{
    color: red;
}
.data{
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 0px;
    width: 100px;
    height: 100px;

}
footer{
    position: absolute;
    width: 90%;
    height: 300px;
    color: var(--text-clr);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 150%;
    bottom: 100px;
    box-sizing: border-box;
}
.footer{
    position: absolute;
    bottom: 200px;
    width: 90%;
    height: 100%;
    box-shadow: var(--box-shadow);
}

.footer>ul>li{
    margin-top: 10px;
    list-style-image:  url(coffy-icon.ico);
    list-style-position: inside;
 
}
.footer>ul>li>a{
    color: #fff;
    text-decoration: none;

}
.footer>ul>li>a:hover{
    color: chocolate;
}
.wats-img{
    width: 20px;
    background: green;
border-radius: 50%;
margin-right: 10px;
}
.gmail-img{
    width: 20px;
margin-right: 10px;
}
.footer p{
    line-height: 40px;
}

@media only screen and (max-width: 600px) {
    .content{
        position: relative;
       /* width:200px; */
   width: 50%;

        height: 400px;
        display: flex;
        justify-content: center;  
        align-items: center;
        right: -20px;
        top: 130px;
    box-shadow:0 0 10px chocolate,
    inset 0 0 30px chocolate,
    0 0 50px chocolate,
    inset 0 0 80px chocolate
     ;
     transform-style: preserve-3d;
     transform: perspective(2000px);
    
    }
    .container{
        position: absolute;
        max-width:100%;
        height: 100%;
        background: var(--pg-clr); 
        box-shadow: var(--box-shadow);
    border-radius: 20px;
    right: 40%;
    transform-origin: right;
    transform-style: preserve-3d;
    transition: all 1s ease;

    }
    .asid_profil{
        position: absolute;
        width: 40%;
        height: 100%;
        right: -20px;
        box-shadow: var(--box-shadow);
    text-align: center;
    background: var(--pg-clr);
    z-index: 20;
    border-radius: 10px;
    
    }

    .asid_profil .h1-titl{
        position: relative;
        top: 50px;
        right: 3px;
        font-size:1rem;
        transform-style: preserve-3d;
        transform: perspective(100px) rotatex(30deg);
    }
    .asid_profil .h1-titl span{
        top: -30px;
        right: 0px;
        font-size:1rem;
    }
    .titl-sayfa{
        position: absolute;
        right: 20%;
        width: 110px;
        font-size: 1.5rem;
        text-align: center;

    }
    .sayfa-1 ul{
        position: absolute;
        right: 20%;
        top: 100px;
    }
     .sayfa-1 ul li{
        font-size:1.3rem;
    }
   ul li span{
        color: red;
        font-size: 1rem;
    }
    .number-sayfa{
        right:40%;
    }
    .sayfa-2 ul{
        position: absolute;
        right: 20%;
        top: 100px;
    
    }
    .sayfa-2 ul li{
        font-size: 1.3rem;
    }
    #but22{
        right: 20% ;
    }

    .sayfa-3 ul{
        position: absolute;
        right: 20%;
        top: 100px;
    
    }
    .sayfa-3 ul li{
        font-size: 1.3rem;
    }
    #but3{
        right: 20% ;
    }
    #time{
        font-size: 3rem;
        position: absolute;
        top: 90%;
    }
    #date2{
        position: absolute;
        font-size: 1.5rem;
    right: 70%;
    width: 100%;
    }
    .data{
        width: 300px;
        position: absolute;
        right: 10px;
    }
    footer{
        position: absolute;
        top: 150%;
       padding-bottom: 50px;
    }
    .footer{
        position: absolute;
        bottom: 100px;
        width: 90%;
        height: 100%;
        box-shadow: var(--box-shadow);
    }
} 

@media only screen and (min-width: 700px){
.content{
    width: 50%;
}
.container{
    width: 100%;
    right: 60%;
}
.asid_profile{
    width: 25%;
    right: -5px;
}
.titl-sayfa{
    right: 100px;
}
.title-main{
    font-size: 8rem;
}
#time{
    font-size: 4rem;
    position: absolute;
    top: 150%;
}
#date2{
    position: absolute;
    font-size: 2.5rem;
right: 150%;
width: 100%;
}
.data{
    width: 300px;
    position: absolute;
    right: 40px;
}
}
@media only screen and (min-width: 1000px){
    .content{
        width: 50%;

    }
    .container{
        width: 100%;
        right: 35%;
    }
    .asid_profile{
        width: 25%;
        right: -5px;
    }
    #time{
top: 70px;
    }
}
@media only screen and (min-width: 1200px){
    .content{
        width: 50%;
    }
    .container{
        width: 100%;
        right: 35%;
    }
    .titl-sayfa{
        right: 40%;
    }
}
